@font-face {
  font-family: 'Bebas Neue Book';
  src: url("../fonts/BebasNeueBook.eot");
  src: url("../fonts/BebasNeueBook.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueBook.woff") format("woff"), url("../fonts/BebasNeueBook.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Bebas Neue bold';
  src: url("../fonts/BebasNeueBold.eot");
  src: url("../fonts/BebasNeueBold.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueBold.woff") format("woff"), url("../fonts/BebasNeueBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Bebas Neue thin';
  src: url("../fonts/BebasNeue-Thin.eot");
  src: url("../fonts/BebasNeue-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeue-Thin.woff") format("woff"), url("../fonts/BebasNeue-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Bebas Neue';
  src: url("../fonts/BebasNeueRegular.eot");
  src: url("../fonts/BebasNeueRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueRegular.woff") format("woff"), url("../fonts/BebasNeueRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Bebas Neue light';
  src: url("../fonts/BebasNeueLight.eot");
  src: url("../fonts/BebasNeueLight.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueLight.woff") format("woff"), url("../fonts/BebasNeueLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

body, html {
  height: 100%;
}

img, fieldset, a img {
  border: none;
}

input[type="submit"],
button {
  cursor: pointer;
}
input[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

textarea {
  overflow: auto;
}

input, button {
  margin: 0;
  padding: 0;
  border: 0;
}

input, textarea, select, button,
h1, h2, h3, h4, h5, h6, a, span, a:focus {
  outline: none;
}

ul, ol {
  list-style-type: none;
}

@media screen and (max-width: 1024px) {
  * {
    -webkit-text-size-adjust: none;
  }
}
table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

body {
  font-family: "Roboto";
  font-weight: normal;
  font-size: 12px;
  line-height: 1.4;
}

a {
  text-decoration: underline;
  color: inherit;
}
a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  color: inherit;
  font-weight: normal;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

.button {
  background-color: #1e77d0;
  background-image: -webkit-linear-gradient(95deg, #1d74ce 0%, #23abf9 100%);
  background-image: linear-gradient(355deg, #1d74ce 0%, #23abf9 100%);
  font-family: "Roboto";
  color: #fff;
  font-size: 21px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
  border-radius: 3px;
  box-shadow: 0 21px 34px -15px #abd6f6, 0 2px 0 #2db2ff, inset 1px 1px 0 rgba(160, 220, 255, 0.5);
}
.button:hover {
  background: #23abf9;
}

input[type=text], input[type=email], input[type=phone], input[type=search], textarea {
  width: 312px;
  height: 38px;
  padding: 0 2px;
  text-align: center;
  box-sizing: border-box;
  color: #292929;
  font-size: 16px;
  font-weight: 300;
  font-family: "Roboto";
  border: 1px solid #dfdfdf;
}
input[type=text]:focus, input[type=email]:focus, input[type=phone]:focus, input[type=search]:focus, textarea:focus {
  box-shadow: 0 0 2px #99e6f9;
}
input[type=text].red_input, input[type=email].red_input, input[type=phone].red_input, input[type=search].red_input, textarea.red_input {
  box-shadow: 0 0 2px  #ff2d50;
  background: #fdc4ce;
}

input::-webkit-input-placeholder {
  color: inherit;
}

input:-moz-placeholder {
  color: inherit;
}

textarea {
  height: 90px;
  padding-top: 5px;
}

.modal {
  display: none;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

.float_left {
  float: left !important;
}

.float_right {
  float: right !important;
}

.float_none {
  float: none !important;
}

.text_right {
  text-align: right !important;
}

.text_center {
  text-align: center !important;
}

.text_left {
  text-align: left !important;
}

.absolute {
  position: absolute !important;
}

.relative {
  position: relative !important;
}

.fixed {
  position: fixed !important;
}

.background_none {
  background: none !important;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.hidden {
  display: none;
}

.wrapper {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  min-width: 970px;
}

.container {
  width: 970px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.thanks.modal b {
  font-size: 25px;
  text-transform: uppercase;
}

.header {
  position: relative;
  overflow: hidden;
  margin-top: 80px;
  height: 709px;
  background: url("../img/top_bg.jpg") center top no-repeat;
}

.fixed_header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #fff;
  box-shadow: 0 2px 3px rgba(4, 4, 4, 0.35);
}

.logo {
  float: left;
  padding: 12px 0 0 0;
}

.header_phone {
  float: right;
  width: 221px;
  text-align: right;
}
.header_phone small {
  font-weight: 300;
  font-size: 16px;
  display: block;
}

.tel {
  margin: 8px  0;
  color: #000;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
  display: block;
  background: url("../img/phone.png") left center no-repeat;
}

.header_nav {
  position: relative;
  overflow: hidden;
  text-align: center;
}
.header_nav ul {
  padding: 30px 0 0 0;
}
.header_nav li {
  display: inline-block;
  padding: 0 19px 0 23px;
  position: relative;
}
.header_nav li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 8px;
  height: 8px;
  border: 1px solid #359cd7;
  border-radius: 50%;
  background-color: #fff;
}
.header_nav li:first-child:before {
  display: none;
}
.header_nav a {
  color: #354657;
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
}
.header_nav a:hover, .header_nav a.active, .header_nav a:active {
  text-decoration: underline;
  color: #23a4f4;
}

.main {
  position: relative;
  overflow: hidden;
}

/*-------------------action-----------------------*/
.action_wrap {
  background: url(../img/action-bg.jpg) no-repeat center top;
  padding: 75px 0 80px;
}
.action_wrap .button {
  clear: both;
  float: right;
}

.action_inner {
  background: #fff url(../img/action.jpg) no-repeat left top;
  overflow: hidden;
  height: 340px;
  border: 10px solid #eaeff4;
  padding-right: 25px;
  padding-top: 10px;
}

.action_title {
  color: #23a4f4;
  font-size: 64px;
  font-family: "Bebas Neue bold";
  float: right;
  margin-bottom: -10px;
}

.action_description {
  color: #6c7a89;
  font-size: 20px;
  font-weight: 300;
  text-align: right;
  line-height: 1.45;
  width: 420px;
  float: right;
  clear: both;
  margin-bottom: 15px;
}
.action_description b {
  color: #24a4f4;
  font-weight: 700;
}

.timer {
  background: #f6f6f7 url(../img/timer-bg.jpg) no-repeat left top;
  padding: 15px 30px 12px 270px;
  display: inline-block;
  float: right;
  clear: both;
  margin-bottom: 12px;
}

#timer span {
  font-size: 28px;
  color: #424242;
  width: 53px;
  height: 51px;
  line-height: 48px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  margin-left: 8px;
  background: url(../img/timer-item-bg.png) no-repeat center center;
}

.timer nav span {
  font-size: 12px;
  color: #364657;
  display: inline-block;
  width: 62px;
  text-align: center;
}

/*-------------------end-action-----------------------*/
/*-------------------delivery-----------------------*/
.delivery_wrap {
  text-align: center;
  padding: 100px 0;
}

.delivery_inner {
  display: inline-block;
  width: 33%;
  text-align: center;
  vertical-align: top;
}

.delivery_item {
  font-size: 15px;
  color: #364657;
}
.delivery_item strong {
  font-weight: 700;
}

.delivery_icon {
  margin-bottom: 40px;
  height: 135px;
}

.delivery_item.font-size_larger {
  font-size: 24px;
  font-weight: 300;
}
.delivery_item.font-size_larger strong {
  font-weight: 700px;
}

/*-------------------end-delivery-------------------*/
.footer {
  position: relative;
  overflow: hidden;
}

.contacts_wrapper {
  height: 520px;
  position: relative;
}
.contacts_wrapper:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 520px;
  width: 100%;
  z-index: 1000;
  box-shadow: inset 0px 10px 30px 0px rgba(0, 0, 0, 0.3);
}

#map {
  width: 100%;
  height: 520px;
  position: absolute;
}

.contacts_wrapper .container {
  position: relative;
  height: 520px;
}

.contacts_inner {
  position: absolute;
  top: 150px;
  left: 0;
  z-index: 10;
  width: 312px;
  background: #fff;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.3);
}

.contacts_block {
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  margin: 0 38px 5px;
  padding-left: 25px;
}
.contacts_block b {
  font-weight: 700;
}

.contacts_block.address-ico {
  background: url(../img/icons/map-ico.png) no-repeat top left;
}

.contacts_block.time-ico {
  background: url(../img/icons/time-ico.png) no-repeat top left;
}

.contacts_phone {
  font-size: 26px;
  color: #364657;
  font-weight: 700;
  padding: 30px 39px 40px;
}

.contacts_title {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  background: #23a4f4;
  padding: 35px 0 30px;
  width: 100%;
  text-align: center;
  position: relative;
  margin-bottom: 35px;
}
.contacts_title:before {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 50%;
  margin-left: -3px;
  border: 6px solid transparent;
  border-top: 6px solid #23a4f4;
}

.copyright_wrapper {
  background: #364657;
  text-align: center;
  padding: 30px 0 20px;
}

.copyright_inner {
  color: #bed2de;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 8px;
}

/*# sourceMappingURL=screen.css.map */