/*-------------------action-----------------------*/
.action_wrap {
	background: url(../img/action-bg.jpg) no-repeat center top;
	padding: 75px 0 80px;
  .button {
  	clear: both;
  	float: right;
  }
}
	.action_inner {
    background: #fff url(../img/action.jpg) no-repeat left top;
    overflow: hidden;
    height: 340px; 
    border: 10px solid #eaeff4;
    padding-right: 25px;
    padding-top: 10px;
	}
		.action_title {
			color: #23a4f4;
			font-size: 64px;
			font-family: $bold;
			float: right;
			margin-bottom: -10px;
		}
		.action_description {
			color: #6c7a89;
			font-size: 20px;
			font-weight: 300;
			text-align: right;
			line-height: 1.45;
			width: 420px;
			float: right;
			clear: both;
			margin-bottom: 15px;
			b {
				color: #24a4f4;
				font-weight: 700;
			}
		}
		.timer {
			background: #f6f6f7 url(../img/timer-bg.jpg) no-repeat left top;
			padding: 15px 30px 12px 270px;
			display: inline-block;
			float: right;
			clear: both;
			margin-bottom: 12px;
		}
			#timer span {
				font-size: 28px;
				color: #424242;
				width: 53px;
				height: 51px;
				line-height: 48px;
				display: inline-block;
				text-align: center;
				vertical-align: middle;
				margin-left: 8px;
				background: url(../img/timer-item-bg.png) no-repeat center center;
			}
				.timer nav span {
					font-size: 12px;
					color: #364657;
					display: inline-block;
					width: 62px;
					text-align: center;
				}

/*-------------------end-action-----------------------*/

/*-------------------delivery-----------------------*/

.delivery_wrap {
	text-align: center;
	padding: 100px 0;
}
	.delivery_inner {
		display: inline-block;
		width: 33%;
		text-align: center;
		vertical-align: top;
	}
		.delivery_item {
			font-size: 15px;
			color: #364657;
			strong {
				font-weight: 700;
			}
		}
		.delivery_icon {
	    margin-bottom: 40px;
	    height: 135px;
	  }
		.delivery_item.font-size_larger {
			font-size: 24px;
			font-weight: 300;
			strong {
				font-weight: 700px;
			}
		}

/*-------------------end-delivery-------------------*/

 //footer
 .footer{
	@include povh('');
 }
 .contacts_wrapper {
	height: 520px;
	position: relative;
	&:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 520px;
    width: 100%;
    z-index: 1000;
		-webkit-box-shadow: inset 0px 10px 30px 0px rgba(0,0,0,0.3);
		-moz-box-shadow: inset 0px 10px 30px 0px rgba(0,0,0,0.3);
		box-shadow: inset 0px 10px 30px 0px rgba(0,0,0,0.3);
	}
 }
 	#map {
		width: 100%;
		height: 520px;
		position: absolute;
	}
	.contacts_wrapper .container{
		position: relative;
		height: 520px;
	}
		.contacts_inner {
			position: absolute;
			top: 150px;
			left: 0;
			z-index: 10;
			width: 312px;
			background: #fff;
			-webkit-box-shadow: 0px 10px 50px 0px rgba(0,0,0,0.3);
			-moz-box-shadow: 0px 10px 50px 0px rgba(0,0,0,0.3);
			box-shadow: 0px 10px 50px 0px rgba(0,0,0,0.3);
		}
			.contacts_block {
				font-size: 14px;
				font-style: normal;
				line-height: normal;
				margin: 0 38px 5px;
				padding-left: 25px;
				b {
					font-weight: 700;
				}
			}
			.contacts_block.address-ico {
				background: url(../img/icons/map-ico.png) no-repeat top left;
			}
			.contacts_block.time-ico {
				background: url(../img/icons/time-ico.png) no-repeat top left;
			}
			.contacts_phone {
				font-size: 26px;
				color: #364657;
				font-weight: 700;
				padding: 30px 39px 40px;
			}
		.contacts_title {
			font-size: 24px;
			font-weight: 700;
			color: #fff;
			background: #23a4f4;
			padding: 35px 0 30px;
			width: 100%;
			text-align: center;
			position: relative;
			margin-bottom: 35px;
			&:before {
				content: "";
				position: absolute;
				bottom: -12px;
				left: 50%;
				margin-left: -3px;
				border: 6px solid transparent;
				border-top: 6px solid #23a4f4;
			}
		}
 .copyright_wrapper {
 	background: #364657;
 	text-align: center;
 	padding: 30px 0 20px;
 }
 	.copyright_inner {
 		color: #bed2de;
 		font-size: 14px;
 		font-weight: 300;
 		margin-bottom: 8px;
 	}
