/*-------------------questions-----------------------*/
.questions_wrap {
	padding-top: 60px;
	background: url(../img/questions-bg.jpg) no-repeat center top;
}
	.questions_inner {
		background: url(../img/questions-inner-bg.jpg) no-repeat center top;
	}
		.questions_title {
	    font-size: 30px;
	    font-weight: 700;
	    color: #23a4f4;
	    display: inline-block;
	    margin: 30px 130px 60px;
		}
		.qestions_block {
			overflow: hidden;
			text-align: center;
			dl {
				text-align: left;
				margin: 0 auto;
				width: 92%;
			}
			dt {
				font-size: 22px;
				color: #fff;
				font-weight: 700;
				float: left;
				width: 390px;
				clear: both;
				line-height: normal;
				margin-bottom: 20px;
			}
			dd {
				font-size: 16px;
				color: #fff;
				font-weight: 300;
				margin-bottom: 50px;
				width: 415px;
				float: right;
			}
		}

/*-------------------end-questions-----------------------*/

/*-------------------buy_aparat-----------------------*/
.buy_aparat_wrap {
	padding: 90px 0 80px;
}
	// .buy_aparat_title {
	// 	font-size: 48px;
	// 	font-family: $bold;
	// 	color: #364657;
	// 	text-align: center;
	// 	margin-bottom: 80px;
	// }
	.buy_aparat_block {
		width: 280px;
		padding: 20px 0 0;
		text-align: center;
		border: 10px solid #e5ebf1;
		margin-right: 32px;
		display: inline-block;
	}
	.buy_aparat_block:last-child {
		margin-right: 0;
	}
		.buy_aparat_title {
			font-size: 20px;
			color: #364657;
			line-height: 1.4;
			margin-bottom: 25px;
			padding: 0 20px;
		}
		.buy_aparat_img {
	    margin-bottom: 25px;
	    text-align: center;
	    img{
	    	transition: all 0.5s ease;
	    }
	    img:hover{
	    	-moz-transform: scale(1.2);
			-webkit-transform: scale(1.2);
			-o-transform: scale(1.2);
			-ms-transform: scale(1.2);
			transform: scale(1.2);
	    }
		}
		.buy_aparat_footer {
			background: #f6f6f7;
			padding: 30px 0 40px;
			.button {
				display: inline-block;
				width: 240px;
				height: 50px;
				line-height: 50px;
				padding: 0;
			}
		}
			.buy_aparat_price {
				color: #364657;
				font-size: 18px;
				font-weight: 700;
				margin-bottom: 30px;
				span {
					color: #23a4f4;
				}
			}
/*-------------------end-buy_aparat-----------------------*/

/*-------------------action-----------------------*/
.action_wrap {
	background: url(../img/action-bg.jpg) no-repeat center top;
	padding: 75px 0 80px;
  .button {
  	clear: both;
  	float: right;
  }
}
	.action_inner {
    background: #fff url(../img/action.jpg) no-repeat left top;
    height: 340px; 
    border: 10px solid #eaeff4;
    padding-right: 25px;
    padding-top: 10px;
	}
		.bottle{
			position: absolute;
			top: 19px;
   			left: 112px;
			transition: all 0.5s ease;
			&:hover{
				transform: scale(1.05);
			}
		}
		.action_title {
			color: #23a4f4;
			font-size: 64px;
			font-family: $bold;
			float: right;
			margin-bottom: -10px;
			transition: all 0.5s ease;
			&:hover{
				transform: scale(1.05);
			}
		}
		.action_description {
			color: #6c7a89;
			font-size: 20px;
			font-weight: 300;
			text-align: right;
			line-height: 1.45;
			width: 420px;
			float: right;
			clear: both;
			margin-bottom: 15px;
			b {
				color: #24a4f4;
				font-weight: 700;
			}
		}
		.timer {
			background: #f6f6f7 url(../img/timer-bg.jpg) no-repeat left top;
			padding: 15px 20px 12px 270px;
			display: inline-block;
			float: right;
			clear: both;
			margin-bottom: 12px;
			right: -25px;
			position: relative;
		}
			#timer span {
				font-size: 28px;
				color: #424242;
				width: 53px;
				height: 51px;
				line-height: 48px;
				display: inline-block;
				text-align: center;
				vertical-align: middle;
				margin-left: 8px;
				background: url(../img/timer-item-bg.png) no-repeat center center;
			}
				.timer nav span {
					font-size: 12px;
					color: #364657;
					display: inline-block;
					width: 62px;
					text-align: center;
				}
/*-------------------end-action-----------------------*/

/*-------------------delivery-----------------------*/
.delivery_wrap {
	text-align: center;
	padding: 100px 0;
}
	.delivery_inner {
		display: inline-block;
		width: 33%;
		text-align: center;
		vertical-align: top;
	}
		.delivery_item {
			font-size: 15px;
			color: #364657;
			strong {
				font-weight: 700;
			}
		}
		.delivery_icon {
	    margin-bottom: 40px;
	    height: 135px;
	  }
		.delivery_item.font-size_larger {
			font-size: 24px;
			font-weight: 300;
			strong {
				font-weight: 700px;
			}
		}
/*-------------------end-delivery-------------------*/

 //footer
 .footer{
	@include povh('');
 }
 .contacts_wrapper {
	height: 520px;
	position: relative;
 }
 	.map_shadow {
	height: 60px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	overflow: hidden;
	width: 100%;
		&:before {
	    content: '';
	    position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    height: 520px;
	    width: 100%;
	    z-index: 2;
			-webkit-box-shadow: inset 0px 10px 30px 0px rgba(0,0,0,0.3);
			-moz-box-shadow: inset 0px 10px 30px 0px rgba(0,0,0,0.3);
			box-shadow: inset 0px 10px 30px 0px rgba(0,0,0,0.3);
		}
 	}
 	#map {
		width: 100%;
		height: 520px;
		position: relative;
	}
	.contacts_wrapper .container{
		position: relative;
		height: 1px;
		overflow: visible;
	}
		.contacts_inner {
			position: absolute;
			top: 150px;
			left: 0;
			z-index: 10;
			width: 312px;
			background: #fff;
			-webkit-box-shadow: 0px 10px 50px 0px rgba(0,0,0,0.3);
			-moz-box-shadow: 0px 10px 50px 0px rgba(0,0,0,0.3);
			box-shadow: 0px 10px 50px 0px rgba(0,0,0,0.3);
		}
			.contacts_block {
				font-size: 14px;
				font-style: normal;
				line-height: normal;
				margin: 0 38px 5px;
				padding-left: 25px;
				b {
					font-weight: 700;
				}
			}
			.contacts_block.address-ico {
				background: url(../img/icons/map-ico.png) no-repeat top left;
			}
			.contacts_block.time-ico {
				background: url(../img/icons/time-ico.png) no-repeat top left;
			}
			.contacts_phone {
				font-size: 26px;
				color: #364657;
				font-weight: 700;
				padding: 30px 39px 40px;
			}
		.contacts_title {
			font-size: 24px;
			font-weight: 700;
			color: #fff;
			background: #23a4f4;
			padding: 35px 0 30px;
			width: 100%;
			text-align: center;
			position: relative;
			margin-bottom: 35px;
			&:before {
				content: "";
				position: absolute;
				bottom: -12px;
				left: 50%;
				margin-left: -3px;
				border: 6px solid transparent;
				border-top: 6px solid #23a4f4;
			}
		}
 .copyright_wrapper {
 	background: #364657;
 	text-align: center;
 	padding: 30px 0 20px;
 }
 	.copyright_inner {
 		color: #bed2de;
 		font-size: 14px;
 		font-weight: 300;
 		margin-bottom: 8px;
 	}
 //end-footer